<header>
  <img alt="TypeScript community logo" src="../assets/images/ts-logo-round-128.svg">
  <img alt="TypeScript community logo" src="../assets/images/ts-lettermark-blue.svg">
  <!--  <h1 class="word-mark"><strong>Type</strong>Script</h1>-->
</header>
<main>
  <nav>
    <ul>
      <li *ngFor="let route of appRoutes">
        <a [routerLink]="[route.path]" [routerLinkActive]="'active'">{{route.data.title}}</a>
      </li>
    </ul>

  </nav>
  <div class="app-container" #appContainer>
    <app-loading-bar *ngIf="isShowingRouteLoadIndicator"></app-loading-bar>
    <router-outlet></router-outlet>
  </div>
</main>
