<section class="banner">
  <div class="content">
    <h1 class="super">Custom Type Declaration</h1>
  </div>
</section>
<section>
  <div class="content">
    <h3>Enum</h3>
    <p>Ideal for uses where you want a well defined list of constant values, ie. SOME_CONSTANTS</p>
    <app-code-block [code]="sr.ENUM" [language]="languages.TYPESCRIPT"></app-code-block>
  </div>
</section>
<section>
  <div class="content">
    <h3>Interface</h3>
    <p>Very versatile, can be used to describe the shape (accepted properties) of a class or an object</p>
    <app-code-block [code]="sr.INTERFACE" [language]="languages.TYPESCRIPT"></app-code-block>
  </div>
</section>
