<section>
  <div class="content">
    <h2>Other Worthwhile Resources</h2>
    <ul>
      <li>
        <h3><a href="https://www.typescriptlang.org">typescriptlang.org</a></h3>
        <p>Official TypeScript Language Page and Documentation</p>
      </li>
      <li>
        <h3><a href="http://definitelytyped.org/">DefinitelyTyped</a></h3>
        <p>The repository for high quality TypeScript type definitions</p>
      </li>
      <li>
        <h3><a href="https://ts.chibicode.com/">TypeScript for Beginner Programmers</a></h3>
        <p>A couple articles that take a very simple approach, assuming very little in regards to the readers experience (or lack thereof)</p>
      </li>
      <li>
        <h3><a href="https://github.com/typescript-cheatsheets">Typescript Cheatsheets</a></h3>
        <p>Community curated cheatsheets for experienced JS developers to share knowledge and copy-paste recipes for common use cases. Includes Typescript cheatsheets for working with <strong>React</strong> and <strong>Vue</strong></p>
      </li>
      <li>
        <h3><a href="https://dev.to/remojansen/implementing-the-onion-architecture-in-nodejs-with-typescript-and-inversifyjs-10ad">Implementing SOLID and the onion architecture in Node.js with TypeScript and InversifyJS</a></h3>
        <p>Good article about how TypeScript promotes SOLID design principles over regular JavaScrip and a few other topics</p>
      </li>
      <li>
        <h3><a href="https://github.com/f0lg0/ts-extended-cheatsheet">ts-extended-cheatsheet</a></h3>
        <p>List of helpful notes accumulated by an enthusiast (<a href="https://github.com/f0lg0">Leonardo Folgoni aka. f0lg0</a>) while he was learning TypeScript</p>
      </li>
      <li>
        <h3><a href="https://www.techrepublic.com/article/how-to-learn-typescript-a-resources-guide-for-developers/">How to learn TypeScript: A resources guide for developers (Tech Republic)</a></h3>
        <p>A more thorough list of TypeScript resources, including video, articles, books, etc.</p>
      </li>
    </ul>
  </div>
</section>
